
.header{
  background-color: grey;
  display: flex;
  justify-content: space-between;
  padding: 15px;

}
.logo{
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.menu{
  display: flex;
 
  
}
.menu li{
 
 list-style: none;
 padding: 10px;
 margin-right: 20px;
 color: #fff;
 
}
.menu li:hover{
  color: #cfcfcf;
  cursor: pointer;
}

.product{
 width: fit-content;
  padding: 20px;
 margin: 10px;
 background-color: #cfcfcf;

}
.heading{
  display: flex;
 font-size: 30px;
  justify-content: center;
}
.productlist{
  width: 100%;
  display: flex;
}

.btn{
  padding: 5px;
  font-size: 20px;
  color: #c6c4c4;
  background-color: #686666;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 15px;
  margin-right: 3px;
}
.input{
  display: flex;
  font-size: 30px;
  justify-content: center;

}
.input-field{
  padding: 7px;
  margin: 3px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
  width: 30%;
}
.input-box{
  display: flex;
  flex-direction: column;
  padding: 20px;
 
}
.data{
  padding: 20px;
  background-color: grey;
 
  width: fit-content;
  margin: 10px;
 


}
.user{
  width: 20%;
  padding: 20px;
  margin: 10px;
  background-color: lightgray;
 
}
.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}